# ================================
# Python cache & virtual env
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env/
venv/
venv*/  
.env.bak

# ================================
# Flask & config
# ================================
instance/
*.log
*.pot
*.pyc

# ================================
# SQLite database
# ================================
*.db
*.sqlite
*.sqlite3

# ================================
# Folder upload user
# ================================
static/uploads/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Environment files
# ================================
.env
.env.local
.env.production
.env.development

# ================================
# PyCharm
# ================================
.idea/

# ================================
# Backup
# ================================
*.bak
*.old
*.orig
